.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header .headerRowBackground {
  background-color: #212222;
  padding: 1.5em 0;
}
/*
.headerRow--main-header :global(a) {
  margin: 0 auto;
} */

.headerRow--main-topbar :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}

.headerRow--main-header-mobile .headerRowBackground {
  background-color: #212222;
  padding: 1.5em 0;
}
